* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3em;
}

@media screen and (max-width: 640px) {
  h1 {
    margin-bottom: 0.8em;
    font-size: 2.5em;
  }

  p {
    margin-bottom: 1em;
    font-size: 1.2em;
  }

  p:last-of-type {
    font-size: 1em;
  }
}